body.modal-open {
    overflow: hidden;  /* Sprečava skrolovanje */
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Tamna pozadina */
    z-index: 9999; /* Osiguraj da je modal na vrhu */
  }
  
  .modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-width: 500px;
    margin: 10% auto;
    z-index: 10000; /* Osiguraj da modal bude iznad pozadine */
  }
  
  .modal-overlay,
  .modal-content {
    pointer-events: all; /* Omogućava interakciju sa modalom */
  }
  
  body.modal-open .modal-overlay {
    pointer-events: none; /* Sprečava interakciju sa pozadinom */
  }
  